<head>
  <link rel="stylesheet" href="/css/forms.css">
  <title>Login</title>
</head>
<div class="container">

  <form id="login" class="form-inline w-50 mx-auto" method="POST" action="">
      <label>Username</label> 
      <label class="sr-only" for="username">Username</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" required class="form-control" id="username" name="username" placeholder="Username">
      </div>
      <label>PASSWORS</label> 
      <label class="sr-only" for="password">PASSWORS</label>
      <div class="input-group mb-2 mr-sm-2">
        <input type="password" required class="form-control" name="password" id="password" placeholder="PASSWORS"> 
      </div>
      <div class="button-center mt-4">
          <button type="submit" class="btn btn-primary submit">LogIn</button>
      </div>
   </form>

</div>