<head>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<div class="container">

    <form class="form-inline w-50 mx-auto ">

        <label>Username</label>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
        </div>

        <label>PASSWORS</label>
        <label class="sr-only" for="inlineFormInputGroupUsername2">PASSWORS</label>
        <div class="input-group mb-2 mr-sm-2">
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="PASSWORS">


<label>EAMIL</label>
<label class="sr-only" for="inlineFormInputGroupUsername2">EAMIL</label>
<div class="input-group mb-2 mr-sm-2">
</div>
<input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="EMAIL">
</div>
</div>
<div class="button-center mt-4">
    <button type="submit" class="btn btn-primary submit">SignUp</button>
</div>

</form>

</div>