<head>
    <link rel="stylesheet" href="/css/forms.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/signup.js"></script> 
    <title>Signup</title>
</head>
<div class="container">
    <form id="signup" class="form-inline w-50 mx-auto "method="POST" action="" >
   
        <label>Username</label>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" required class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <label>PASSWORS</label>
        <label class="sr-only" for="inlineFormInputGroupUsername2">PASSWORS</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="password" required class="form-control" id="password" name="password" placeholder="PASSWORS">
        </div>
        <label>EAMIL</label>
        <label class="sr-only" for="inlineFormInputGroupUsername2">EAMIL</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="email" required class="form-control" id="email" name="email" placeholder="EMAIL">
        </div>
        <input type="text" hidden required class="form-control" name="type" value="1" placeholder="type">
        <div class="button-center mt-4">
            <button type="submit" class="btn btn-primary submit">SignUp</button>
        </div>
    </form>

</div>