<head>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<div class="container">
    <form class="form-inline w-50 mx-auto "method="POST" action="/admin/userUpdate?id=<%=user._id %>">
   
        <label>Username</label>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="username" name="username" value="<%=user.username%>">
        </div>
       
        <label>EAMIL</label>
        <label class="sr-only" for="inlineFormInputGroupUsername2">EAMIL</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="email" class="form-control" id="email" name="email" value="<%=user.email%>">
        </div>


        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Type</label>
            <select id="disabledSelect" class="form-select">
              <option selected>1</option>
              <option>2</option>
            </select>
          </div>
    

        <input type="text" hidden class="form-control" name="type" value="1" placeholder="type">
        <div class="button-center mt-4">
            <button type="submit" class="btn btn-primary submit">Update</button>
        </div>
    </form>

</div>