
<table class="table mx-auto text-center mt-4 w-50">
    <thead>
      <tr>
       <!-- <th scope="col">#</th>-->
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Type</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

    <% user.forEach(function(user){ %>
    <tr>
      <form method="POST">

        <td>
            <input type="text" class="form-control"  name="username" value="<%=user.username%>">
        </td>

        <td>
          <input type="emil" class="form-control"  name="email" value="<%=user.email%>">
        </td>

        <td>
          <select id="disabledSelect" name="type" class="form-select">
            <option value="1">user</option>
            <option value="2">admin</option>
            <option value="3">translator</option>
          </select>
        </td>

        <td>
          <button type="submit" formaction="/admin/userss?id=<%=user._id %>" class="btn btn-primary">Update</button>
        </td>

        <td> 
          <button type="submit" formaction="/admin/userDelete?id=<%=user._id %>"  class="btn btn-primary">Delete</button>
        </td>

      </form>
    </tr>

    <%})%>

    </tbody>
  </table>
