<div class="container">
    <img class="img-fluid mx-auto d-block" src="img/chapter.png"alt="chapter"></a>
    <img class="img-fluid mx-auto d-block" src="img/chapter.png"alt="chapter"></a>
    <img class="img-fluid mx-auto d-block" src="img/chapter.png"alt="chapter"></a>

</div>


    
<button type="button" class="btn btn-outline-primary">Next</button>
<button type="button" class="btn btn-outline-primary ">Preivus</button>