<div class="container">

 <% chapter.pages.forEach((page) =>{ %>

    <img class="img-fluid mx-auto d-block" src="<%=page.split('\r')[0]%>"alt="chapter"></a>

    <%})%>

    <!--<img class="img-fluid mx-auto d-block" src="img/chapter.png"alt="chapter"></a>
    <img class="img-fluid mx-auto d-block" src="img/chapter.png"alt="chapter"></a>-->
</div>
<br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <button class="btn btn-primary float-end" type="submit">Next</button>
      </div>
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Preivus</button>
      </div>
    </div>
    </div> 