<head>
  <link rel="stylesheet" href="/css/forms.css">
</head>
<div class="container">

  <form class="form-inline w-50 mx-auto" method="POST" action="">


    <div class="input-group mb-2 mr-sm-2">
      <input hidden class="form-control" value="<%=id%>" name="user_id" id="user_id" placeholder="PASSWORS">
    </div>

    <label>description</label>
    <label class="sr-only" for="password">description</label>
    <div class="input-group mb-2 mr-sm-2">
      <textarea rows="3" class="form-control" name="description" id="description" placeholder="description">
            <%=request.description%>
          </textarea>
    </div>
    <div class="col-md-6">
      <label for="status">status</label>
      <select class="form-control" name="status">
        <option value="true">accept</option>
        <option value="false">denied</option>
        
      </select>
    </div>
    <label>Respons</label>
    <label class="sr-only" for="password">Respons</label>
    <div class="input-group mb-2 mr-sm-2">
      <textarea rows="3" class="form-control" name="Respons" id="Respons" placeholder="Respons">

          </textarea>
    </div>
    <div class="button-center mt-4">
      <button type="submit" class="btn btn-primary submit">submit</button>
    </div>
  </form>

</div>