.container{
    color: #14213D;
    margin-top: 30px;
}

label{
    font-size: 26px;
}

.button-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.submit{
    margin-top: 10px;
    width: 20%;
}

.btn-primary{
    background-color: #14213D;
}

#in{
    color: green;
}