/* 
#E5E5E5
#14213D
#FCA311
*/

.container{
    color: #14213D;
}

.card-img{
    padding: 1px;
    margin-top: 3px;
    padding-bottom: 0;
    border: 5px;
}

#zero-top{
    margin-top: 0;
    padding-top: 0;
}


.card-title span{
    cursor: pointer;
}

.card-title span:hover{
    color: red;
}

.card-body{
    justify-content: space-around;
}

.btn-dark{
    background-color: #14213D;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.center{
    margin: 0 auto;
}

.mx-auto{
    margin: 0 auto;
}

.content{
    display: flex;
    justify-content: space-between;
    background-color: #14213D; 
    /*border: 1px solid #14213D;  */
}

a{
    text-decoration: none;
}

a:hover{
    color:  #14213D; 
}

.ch-icon{
    display: flex;
}

.ch-number{
    background-color: #14213D; 
    color : white;
}

.ch-number:hover{
    color : white;
}

.ch-edit{
    border: 1px solid #FCA311;
    background-color: #FCA311;
    padding: 0 10px;
     color: white;
}

.ch-delete{
    border: 1px solid red;
    background-color: red;
    padding: 0 10px;
    color: white;
  
}