<head>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<div class="container">

    <form>
        <div class="row">
          <div class="col-md-6">
            <label for="inputEmail4">Title</label>
            <input type="text" class="form-control" name="Title" placeholder="Title">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4">Author</label>
            <input type="text" class="form-control" name="Author" placeholder="Author">
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
              <label for="inputEmail4">Other Names</label>
              <input type="text" class="form-control" name="other_names" placeholder="Other Names">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4">Artists</label>
                <input type="text" class="form-control" name="artists" placeholder="Artists">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" name="description" rows="3"></textarea>
        </div>
          
        <div class="row">
            <div class="col-md-6">
              <label for="inputEmail4">Reading Direction</label>
              <input type="text" class="form-control" name="reading_direction" placeholder="Reading Direction">
            </div>
            <div class="col-md-6">
                    <label for="Origin">Origin</label>
                    <select class="form-control" name="origin">
                      <option>manga</option>
                      <option>manhwa</option>
                      <option>manhua</option>
                    </select>
            </div>
        </div>
        <div class="button-center">
            <button type="submit" class="btn btn-primary submit">Submit</button>
        </div>
        
      </form>
</div>