<head>
    <link rel="stylesheet" href="/css/forms.css">
    <title>Add Manga</title>
</head>

<div class="container">

    <form method="POST" action="/manga/add" >
        <div class="row">
          
          <div class="col-md-6">
            <label for="title">Title</label>
            <input required type="text" class="form-control" name="title" placeholder="Title">
          </div>

          <div class="col-md-6">
            <label for="author">Author</label>
            <input required type="text" class="form-control" name="author" placeholder="Author">
          </div>
        
        </div>
        
        <div class="row">
        
            <div class="col-md-6">
              <label for="other_names">Other Names</label>
              <input required type="text" class="form-control" name="other_names" placeholder="Other Names">
            </div>
          
            <div class="col-md-6">
                <label for="artists">Artists</label>
                <input required type="text" class="form-control" name="artists" placeholder="Artists">
            </div>
        
        </div>
      
        <div class="form-group">
            <label for="description">Description</label>
            <textarea required class="form-control" name="description" rows="3"></textarea>
        </div>
          
        <div class="row">
      
            <div class="col-md-6">
              <label for="reading_direction">Reading Direction</label>
              <select required class="form-control" name="reading_direction">
                <option value="Right to Left">Right to Left</option>
                <option value="Left to Right">Left to Right</option>
              </select>
            </div>
        
            <div class="col-md-6">
                    <label for="Origin">Origin</label>
                    <select required class="form-control" name="origin">
                      <option value="manga">manga</option>
                      <option value="manhwa">manhwa</option>
                      <option value="manhua">manhua</option>
                    </select>
            </div>
        </div>

        <div class="form-group">
          <label for="genres">Genres</label>
          <textarea required class="form-control" name="genres" rows="3"></textarea>
        </div>
        <div class="col-md-12">
          <label for="Poster">Poster</label>
          <input required type="text" class="form-control" name="poster" placeholder="Poster">
      </div>
        <% if(currentUser) { %>
        <input type="text" hidden class="form-control" value=" <%=currentUser._id%>" name="user_id" placeholder="user id">
        <% }%>
        <!-- <div class="col-md-6">
          <label for="Genres">Genres</label>
          <span class="hiddenspan">Selected : </span>
          <span class="in"></span>
          <select class="form-control genres" name="genres">
            <option class="genre" value="o">Select Genres</option>
            <option class="genre" value="Action">Action</option>
            <option class="genre" value="Adventure">Adventure</option>
            <option class="genre" value="Comedy">Comedy</option>
            <option class="genre" value="Drama">Drama</option>
            <option class="genre" value="Fantasy">Fantasy</option>
            <option class="genre" value="Historical">Historical</option>
            <option class="genre" value="Horror">Horror</option>
            <option class="genre" value="Magic">Magic</option>
            <option class="genre" value="Martial arts">Martial arts</option>
            <option class="genre" value="Mystery">Mystery</option>
            <option class="genre" value="Romance">Romance</option>
            <option class="genre" value="School life">School life</option>
            <option class="genre" value="Seinen">Seinen</option>
            <option class="genre" value="Shounen">Shounen</option>
            <option class="genre" value="Slice of life">Slice of life</option>
            <option class="genre" value="Sports">Sports</option>
            <option class="genre" value="Superhero">Superhero</option>
            <option class="genre" value="Survival">Survival</option>
            <option class="genre" value="Tragedy">Tragedy</option>
            <option class="genre" value="Zombies">Zombies</option>
          </select>
        </div> -->
        <div class="button-center">
            <button type="submit" class="btn btn-primary submit">Submit</button>
        </div>
        
      </form>
</div>
<!-- <script src="/js/selected.js"></script> -->