<section class="all-manga mt-4">
    <div class="container-fluid">
        <div class="row">
        <div class="col-10 col-md-6 col-xl-4 mx-auto">
        <form>
         <div class="input-group mb-3">
             <span class="input-group-text">
                 <i class="fas fa-search fa-lg search-icon"></i>
             </span>
             <input type="text" class="form-control" id="search-item" placeholder="manga...">
         </div>
        </form>
        </div>
        </div> <!--end row-->

    <!-- button row-->
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4 mx-auto text-center">
          <div class="btn-group mb-5 flex-wrap button-group
           filter-button-group" role="group">

           <button type="button" class="btn btn-classified" data-filter="*">All</button>
           <button type="button" class="btn btn-classified" data-filter=".mystery">mystery</button>
           <button type="button" class="btn btn-classified" data-filter=".drama">drama</button>
           <button type="button" class="btn btn-classified" data-filter=".horror">horror</button>
           <button type="button" class="btn btn-classified" data-filter=".thriller">thriller</button>
          </div>
      </div>
    </div>
  <!-- end button row-->

  <!--secound row-->
  <div class="row grid mt-2 text-center mx-auto" >
      <!--manga-1-->
      <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 thriller">
        <div class="manga-poster" style="background-image: url('img/king.jpg')">
            <div class="manga-title">
              <h5> Attack on Titan</h5>
           </div> 
         </div>
      </div>
      
         <!--manga-2-->
         <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 horror">
            <div class="manga-poster" style="background-image: url('img/solo.jpg')">
                <div class="manga-title">
                  <h5> Attack on Titan</h5>
               </div> 
             </div>
          </div>

           <!--manga-3-->
        <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 mystery">
          <div class="manga-poster" style="background-image: url('img/one.png')">
              <div class="manga-title">
                <h5> Attack on Titan</h5>
             </div> 
           </div>
        </div>

         <!--manga-4-->
         <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 drama">
          <div class="manga-poster" style="background-image: url('img/ruler.jpg')">
              <div class="manga-title">
                <h5> Attack on Titan</h5>
             </div> 
           </div>
        </div>
       <!-- </div><end row-->

        <!--third row-->
       <!-- <div class="row grid mt-2">-->
         <!--manga-5-->
         <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 mystery">
           <div class="manga-poster" style="background-image: url('img/one.png')">
               <div class="manga-title">
                 <h5> Attack on Titan</h5>
              </div> 
            </div>
         </div>
            <!--manga-6-->
            <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 drama">
               <div class="manga-poster" style="background-image: url('img/ruler.jpg')">
                   <div class="manga-title">
                     <h5> Attack on Titan</h5>
                  </div> 
                </div>
             </div>

          <!--manga-7-->
         <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 thriller">
           <div class="manga-poster" style="background-image: url('img/king.jpg')">
               <div class="manga-title">
                 <h5> Attack on Titan</h5>
              </div> 
            </div>
         </div>

        <!--manga-8-->
        <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 horror">
           <div class="manga-poster" style="background-image: url('img/solo.jpg')">
               <div class="manga-title">
                 <h5> Attack on Titan</h5>
              </div> 
            </div>
         </div>

         <!------------------------------------------------->

          <!--manga-9-->
          <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 drama">
           <div class="manga-poster" style="background-image: url('img/ruler.jpg')">
               <div class="manga-title">
                 <h5> Attack on Titan</h5>
              </div> 
            </div>
         </div>
            <!--manga-10-->
            <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 mystery">
               <div class="manga-poster" style="background-image: url('img/one.png')">
                   <div class="manga-title">
                     <h5> Attack on Titan</h5>
                  </div> 
                </div>
             </div>

         <!--manga-11-->
        <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 horror">
          <div class="manga-poster" style="background-image: url('img/solo.jpg')">
              <div class="manga-title">
                <h5> Attack on Titan</h5>
             </div> 
           </div>
        </div>

       <!--manga-12-->
       <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 thriller">
          <div class="manga-poster" style="background-image: url('img/king.jpg')">
              <div class="manga-title">
                <h5> Attack on Titan</h5>
             </div> 
           </div>
          </div>
        <!---------------------------------------->

       <!--manga-13-->
       <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 thriller">
           <div class="manga-poster" style="background-image: url('img/king.jpg')">
               <div class="manga-title">
                 <h5> Attack on Titan</h5>
              </div> 
            </div>
         </div>
            <!--manga-14-->
            <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 drama">
               <div class="manga-poster" style="background-image: url('img/ruler.jpg')">
                   <div class="manga-title">
                     <h5> Attack on Titan</h5>
                  </div> 
                </div>
             </div>

          <!--manga-15-->
         <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 mystery">
           <div class="manga-poster" style="background-image: url('img/one.png')">
               <div class="manga-title">
                 <h5> Attack on Titan</h5>
              </div> 
            </div>
         </div>

        <!--manga-16-->
        <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 horror">
           <div class="manga-poster" style="background-image: url('img/solo.jpg')">
               <div class="manga-title">
                 <h5> Attack on Titan</h5>
              </div> 
            </div>
         </div>

         <!------------------------------------------------->

      <!--manga-17-->
       <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 horror">
          <div class="manga-poster" style="background-image: url('img/solo.jpg')">
              <div class="manga-title">
                <h5> Attack on Titan</h5>
             </div> 
           </div>
        </div>
           <!--manga-18-->
           <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 mystery">
              <div class="manga-poster" style="background-image: url('img/one.png')">
                  <div class="manga-title">
                    <h5> Attack on Titan</h5>
                 </div> 
               </div>
            </div>

         <!--manga-19-->
        <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 drama">
          <div class="manga-poster" style="background-image: url('img/ruler.jpg')">
              <div class="manga-title">
                <h5> Attack on Titan</h5>
             </div> 
           </div>
        </div>

       <!--manga-20-->
       <div class="col-12 mx-auto col-md-4 col-xl-3 mt-2 thriller">
          <div class="manga-poster" style="background-image: url('img/king.jpg')">
              <div class="manga-title">
                <h5> Attack on Titan</h5>
             </div> 
           </div>
        </div>
     </div><!--end row-->
    </div> <!--end container-->
  </section>