<head>
    <link rel="stylesheet" href="/css/manga.css">
</head>

<br>
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row center">
            <div class="col-md-4">
                <img src="/img/manga-poster.webp" draggable="false"
                    class="card-img" alt="solo leveling poster">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <% if(currentUser) { %>
                        <% if(currentUser.type == "2") { %>
                            <h3 class="card-title">Solo Leveling 
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-edit"></i></span>
                                <span><i class="far fa-trash-alt"></i></span>   
                            </h3>
                        <%}else if(currentUser.type == "3"){%>
                            <h3 class="card-title">Solo Leveling 
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-edit"></i></span>
                                </h3>
                            <%}else if(currentUser.type == "1"){%>
                                <h3 class="card-title">Solo Leveling 
                                    <span><i class="far fa-heart"></i></span>
                                </h3>
                            <%}%>
                        <%}else{%>
                            <h3 class="card-title">Solo Leveling </h3>
                        <%}%>

                   
                    <hr class="my-4">
                    <p class="card-text"><b>Rate: -/10 <br>
                            <b>Genres:</b> Lorem, Lorem, Lorem, Lorem<br>
                            <b>Author:</b> Lorem<br>
                            <b>Painter:</b> Lorem <br>
                            <b>Origin:</b> Lorem <br>
                            <b>Reading direction:</b>left-to-right<br>
                    </p>
                    <p class="card-text"><b>Story: </b> Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Minus nesciunt reiciendis ullam
                        obcaecati a commodi minima impedit amet. Porro
                        consequatur adipisci eos voluptas alias, ipsam illo
                        dolore recusandae at dolorem.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                        
                </div>
            </div>
        </div>
        <div id="zero-top" class="row">
            <div id="zero-top" class="col-xs-12">
                <div id="zero-top" class="card-body">

                        <hr id="zero-top" class="my-4">
                        <div class="row center"><!-- TODO: add margins -->
                            <div class="col-xs-3 col-md-2 offset3 ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 offset3 ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 offset3 ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 offset3 ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>

                        </div><!-- end row -->

                    </div><!-- end card-body -->
                </div><!-- end col-med 8 -->




        </div><!-- end row -->
    </div><!-- end card -->

</div><!-- end of container -->
