    <!--panner-->
    <section class="panner">
        <div class="container">
          <div class="row">
            <div class="col-10 mx-auto height d-flex justify-content-center align-items-center">
               <div class="panner-content text-center">
                  <h4 class="welcome">Welcom to our</h4>
                  <h1 class="manga-panner">MANGA ASH</h1>
               </div>
            </div>
          </div>
         </div>  
      </section>
  
    <!---------------------------------------------------------------->

    <!--new manga-->
    <section class="new-manga py-4">
        <div class="container">
            <!--title-->
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <h1 class="title">New Manga</h1>
                    <span><i class=" white-Background fas fa-book manga-icon"></i></span>
                    <div class="title-underLine managLine"></div>
                </div>
            </div>
            <!--end first row-->

            <div class="row py-5 text-center">
                <div class="col-10 mx-auto col-sm-6 col-xl-3 mt-3 text-center ">
                    <!--start card-->
                    <div class="card mx-auto text-center card-shadow">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg
                        " class="card-img-top pt-3" alt="poster1">
                        <div class="card-body">
                          <h5 class="card-title">Attack on Titan</h5>
                        </div>
                      </div>
                      <!--end card-->
                </div><!--end-col-->

                <div class="col-10 mx-auto col-sm-6 col-xl-3 mt-3 text-center">
                    <!--start card-->
                    <div class="card mx-auto text-center card-shadow ">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg
                        " class="card-img-top pt-3" alt="poster1">
                        <div class="card-body">
                          <h5 class="card-title">Attack on Titan</h5>
                        </div>
                      </div>
                      <!--end card-->
                </div><!--end-col-->

                <div class="col-10 mx-auto col-sm-6 col-xl-3 mt-3 text-center">
                    <!--start card-->
                    <div class="card mx-auto text-center card-shadow">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg
                        " class="card-img-top pt-3" alt="poster3">
                        <div class="card-body">
                          <h5 class="card-title">Attack on Titan</h5>
                         <!-- <p class="card-text">Some quick example text to build on the card title and make
                               up the bulk of the card's content.</p>-->
                        </div>
                      </div>
                      <!--end card-->
                </div><!--end-col-->

                <div class="col-10 mx-auto col-sm-6 col-xl-3 mt-3 text-center">
                    <!--start card-->
                    <div class="card mx-auto text-center card-shadow">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg
                        " class="card-img-top pt-3" alt="poster3">
                        <div class="card-body">
                          <h5 class="card-title">Attack on Titan</h5>
                         <!-- <p class="card-text">Some quick example text to build on the card title and make
                               up the bulk of the card's content.</p>-->
                        </div>
                      </div>
                      <!--end card-->
                </div><!--end-col-->

            </div><!--end row-->
        </div><!--end continer-->
    </section>


  <!---------------------------------------------------------------->

  <section class="new-chapter">
    <div class="container">
        <!--title-->
        <div class="row">
            <div class="col-10 mx-auto text-center">
                <h1 class="title">New Chapters</h1>
                <span><i class=" pink-Background fas fa-book-open chapter-icon"></i></span>
                <div class="title-underLine chapterLine"></div>
            </div>
        </div>


        <div class="row my-5 text-center ">
            <div class=" col-12 col-md-4 col-xl-3 mt-4 mx-auto text-center">
                <div class="flip-card mx-auto">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg" alt="Avatar" style="width:210px;height:250px;">
                      </div>
                      <div class="flip-card-back">
                        <h1 class="mt-3">John Doe</h1> 
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div>
            </div>
            <!--end col-->

            <div class=" col-12 col-md-4 col-xl-3 mt-4 mx-auto  text-center">
                <div class="flip-card mx-auto">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg" alt="Avatar" style="width:210px;height:250px;">
                      </div>
                      <div class="flip-card-back">
                        <h1 class="mt-3">John Doe</h1> 
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div>
            </div>
            <!--end col-->

            <div class="col-12 col-md-4 col-xl-3 mt-4 mx-auto ">
                <div class="flip-card mx-auto">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg" alt="Avatar" style="width:210px;height:250px;">
                      </div>
                      <div class="flip-card-back">
                        <h1 class="mt-3">John Doe</h1> 
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div>
            </div>
            <!--end col-->

            <div class="col-12 col-md-4 col-xl-3 mt-4 mx-auto ">
                <div class="flip-card mx-auto">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg" alt="Avatar" style="width:210px;height:250px;">
                      </div>
                      <div class="flip-card-back">
                        <h1 class="mt-3">John Doe</h1> 
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div>
            </div>
            <!--end col-->
        </div>
        <!--end first row-->

        
        <div class="row my-5 text-center">
            <div class="col-12 col-md-4 col-xl-3 mt-4 mx-auto ">
                <div class="flip-card mx-auto">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg" alt="Avatar" style="width:210px;height:250px;">
                      </div>
                      <div class="flip-card-back">
                        <h1 class="mt-3">John Doe</h1> 
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div>
            </div>
            <!--end col-->

                     <div class="col-12 col-md-4 col-xl-3 mt-4 mx-auto ">
                <div class="flip-card mx-auto">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://xcdn-000.animemark.com/acg_covers/W600/3b/c7/3bc78f5f7103ffe62050aa113e95950dd0f5ebfb_36027_200_268.jpg" alt="Avatar" style="width:210px;height:250px;">
                      </div>
                      <div class="flip-card-back">
                        <h1 class="mt-3">John Doe</h1> 
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div>
            </div>
            <!--end col-->
        </div>
    </div><!--end container-->
</section>

<!--------------------------------------------------------------------->

<section>
    <div class="container">

               <!--title-->
               <div class="row py-3">
                <div class="col-10 mx-auto col-sm-6 text-center mt-3 first-col">
                    <h1 class="title">About As</h1>
                    <span><i class="white-Background fas fa-book about-icon"></i></span>
                    <div class="title-underLine aboutLine"></div>
                    <p class="pt-4">
                        One of the most popular online manga sites while it is.
                         You can read the latest manga on the same day when they are released in Japan.

                    </p>
                </div>

                <div class="col-10 mx-auto col-sm-6 text-center  mt-4 secound-col">

                    <div class="about-img mx-auto py-4">
                        <div class="outline-dev"></div>
                   </div>

            
                </div>
            </div>
            <!--end first row-->


    </div><!--end container-->
</section>

